body {
  background: #FFFFFF;
  font: 13px "Roboto";
  line-height: 1.4;
  margin: 0px 0;
}
em {
  color: #999;
}
p {
  line-height: 1.4;
}
ul {
  margin-bottom: 0;
}
li {
    margin-bottom: 2px;
    margin-left: 0.9em;
}
a {
  text-decoration: none;
}

#resume {
  margin: 0 auto;
  max-width: 700px;
  padding: 0.5em 1em;
  border: 0px;
  background: #fff;
  box-shadow: none;
  -webkit-box-shadow: none;
}

#education {
    margin-top: 3em;
}

.coursesBlock .title {
    font-weight: normal;
}

.coursesList {
  display: inline-block;
  padding-left: 0px;
  margin-top: 0px;
}

.coursesList .course {
    display: inline-block;
}
.coursesList .course:after {
    content: ', ';
}
.coursesList .course:last-child:after {
    content: '';
}

.largeFont {
    font-size: 22px;
    font-weight: 500;
}

.smallFont {
  font-size: 13px;
}

.sectionBlock {
  width: 100%;
}

.sectionName {
  width: auto;
  vertical-align: top;
  display: block;
}

.sectionContent {
  vertical-align: top;
}

.experienceBlock .sectionContent {
    padding-left: 10px;
}

.experienceBlock .position {
    font-weight: normal;
    text-decoration: underline;
}

.sectionContent ul {
  padding-left: 11.5px;
  margin-top: 3px;
  list-style-type: circle;
  margin-bottom: 5px;
}

.sectionContent .title {
    font-weight: bold;
    font-size: 12.5px;
}

.sectionContent .date {
    float: right;
    font-weight: normal;
}

.sectionContent .separator {
  height: 14px;
}

#nameBlock .label {
    font-weight: 400;
}

.sectionLine {
  margin-top: 2px;
  margin-bottom: 2px;
}

.divider {
  font-weight: bold;
  margin-left: 5px;
  margin-right: 5px;
}

.summary {
  margin-top: 6px;
}

.skillBlock {
  margin-bottom: 4px;
}

.jobBlock {
    page-break-inside: avoid;
}

.jobBlock > .highlights li {
    list-style-type: disc;
}

a:visited,
a:link {
    color: #555;
}

.position {
    font-weight: 500;
}


.experienceLabel {
    margin-top: 5px;
    font-size: 13px;
}

@page {
    margin-top: 2em;
}
